@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans HK', sans-serif;
}
.navbar-brand{
    font-size: 1.8rem;
   
}

.menuu{
    font-weight: 700;
    border-bottom: 1px solid gray;
}

.navbar-brand{
    color:rgba(27, 47, 221, 0.397)
}